.chooseboardsizeitem {
  border: 5px solid #eb088b;
  box-shadow: 5px 5px 0 0 rgba(0,0,0,.8);
  padding: 8vh 7vw;
  background-color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  justify-content: center;
  /*text-align: left;*/
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  text-transform: uppercase;
  color: #eb088b;
  text-shadow: 1.5px 3.5px 5px #000;
  font-size: 3rem;
  text-align: center;
  -webkit-text-stroke: .025px rgba(0,0,0,.7);
  text-shadow:
        3px 3px 0 rgba(0,0,0,.7),
        -1px -1px 0 rgba(0,0,0,.7),  
        1px -1px 0 rgba(0,0,0,.7),
        -1px 1px 0 rgba(0,0,0,.7),
        1px 1px 0 rgba(0,0,0,.7);
}

.chooseboardsizeitem:hover
{
  background-color: #faadd9;
  color: #fff;
  text-decoration: none;
}
.none{
  display: none;
}