
ul {
  list-style-type: none;
  position: fixed;
  top: 0.75vh;
  right: 1vw;
}

ul li {
  float: left;
  padding: 2vh 1.5vw;
  margin: 1.5vh;
  font-size: 2rem;  
  font-weight: 700;
  color: rgba(0,0,0,.8);
  background-color: rgba(255,255,255,.8);
  border-radius: 10px;
  border: 2px solid #eb088b;
  box-shadow: 5px 5px 0 0 rgba(0,0,0,.8);
  -webkit-text-stroke: 1px #eb088b;
  text-shadow:
        .1vh .1vw 0 #eb088b,
        -.1vh -.1vw 0 #eb088b,  
        .1vh -.1vw 0 #eb088b,
        -.1vh .1vw 0 #eb088b,
        .1vh .1vw 0 #eb088b
        ;
z-index: 100;
}
span {
  display: inline-block;
  text-align: center;
  width: 4vw;
}
#currentplayerdiv{
  display: flex;
  position: fixed;
  top: 1vh;
  left: 1vw;
 /* width: 300vw;*/
}

#currentlyplayertitle, #currentplayer { 
  color: rgba(0,0,0,.8);
  padding-right: .5vw;
  font-size: 2.5rem;
  text-shadow: 5px 5px 5px #eb088b;
  font-weight: 700; 
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
}

#currentlyplayertitle{
  -webkit-text-stroke: 1.5px #eb088b;
  text-shadow:
        3px 3px 0 #eb088b,
        -1px -1px 0 #eb088b,  
        1px -1px 0 #eb088b,
        -1px 1px 0 #eb088b,
        1px 1px 0 #eb088b;
}
#currentplayer {
  color: #eb088b;
  padding-left: .5vw;
  -webkit-text-stroke: 1.5px rgba(0,0,0,.3);
  text-shadow:
          3px 3px 0 rgba(0,0,0,.7),
          -1px -1px 0 rgba(0,0,0,.7),  
          1px -1px 0 rgba(0,0,0,.7),
          -1px 1px 0 rgba(0,0,0,.7),
          1px 1px 0 rgba(0,0,0,.7);
}
.header-container p {
  margin: 1vw 0;
  font-size: 2rem;
  text-indent: 1em;
}
.header-container strong {
  text-transform: uppercase;
}
.hide {
  display: none;
  }

.arrow {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-shadow:
          3px 3px 0 rgba(0,0,0,.7),
          -1px -1px 0 rgba(0,0,0,.7),  
          1px -1px 0 rgba(0,0,0,.7),
          -1px 1px 0 rgba(0,0,0,.7),
          1px 1px 0 rgba(0,0,0,.7);
}
.question:active, li .redo:active, .arrow:active{
  transform: rotate(360deg);
  transition: .6s;
}
/*About*/

h1{
  font-size: 3em;
  font-weight: 700;
  font-size: 3.5rem;
  color: rgba(255, 255, 255, .8);
  text-shadow:
          3px 3px 0 rgba(0,0,0,.7),
          -1px -1px 0 rgba(0,0,0,.7),  
          1px -1px 0 rgba(0,0,0,.7),
          -1px 1px 0 rgba(0,0,0,.7),
          1px 1px 0 rgba(0,0,0,.7);
  /*text-shadow: 3px 3px 3px #fdcbee;*/
}
.about {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1vw;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgba(235, 8, 141, 0.8);
  padding: 2vh;
  word-wrap: break-word;
  color: rgba(255, 255, 255, .7);
  text-shadow:
          3px 3px 0 rgba(0,0,0,.7),
          -1px -1px 0 rgba(0,0,0,.7),  
          1px -1px 0 rgba(0,0,0,.7),
          -1px 1px 0 rgba(0,0,0,.7),
          1px 1px 0 rgba(0,0,0,.7);
  width: auto;
  height: auto;
  z-index: 0;
  text-align: justify;
  text-justify: inter-word;
}

.about p {
  font-size: 1rem;
}

.about a {
  display: inline-block;
  padding-right: .5vw;
  color: #1E0011;
  text-shadow: 3px 3px 25px #fdcbee;
}
.about a:hover {
  color: rgb(218, 218, 218);
}
.rights  {
  text-align: center;
}
