.playerscorediv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 4vh;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid #eb088b;
  box-shadow: 5px 5px 0 0 rgba(0,0,0,.8);
  font-weight: 700;
  color: rgba(0,0,0,.8);
  -webkit-text-stroke: .025px #eb088b;
  text-shadow: 1.5px 3.5px 5px #eb088b;
  font-size: 2rem;
}
.scoreboard{
  align-content: center;
  text-align: center;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.matchedpairstext{
  padding-top: 1vh;
}

.playerscoretext{
  font-size: 3.5rem;
}
#playeronescore, #playeronepairs, #playertwoscore, #playertwopairs
{
  padding-top: 1vh;
  font-size: 5rem;
}